{% extends 'TicketReservationApp/base.html' %}
{% load static %}
{% block body %}

<div class="header_container">
    <div class="header_navbar">
        <div class="navbar_logobox">
            <div class="logo_container">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="">
            </div>
            <a class="index_link" href="{% url 'TicketReservationApp:index' %}"> TravelGo </a>
        </div>
        <div class="navbar_widget">
            <a class="widget_link" href="#"> Login </a>
            <a class="widget_link" href="#"> Register </a>
        </div>
    </div>

    <div class="header_main_box">
        <div class="title_box">
            <span class="title_main"> Travel Go </span>
            <span class="title_sub"> Explore The World! <span>
        </div>

        <div class="main_image_box">
            <img class="main_image" src="{% static 'img/bg_cover_image.jpg' %}" alt="">
        </div>
    </div>

</div>

{% endblock %}