*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding: 20px;
}

.header_container {
    background-image: linear-gradient(to right bottom, #55c57a, #28b485);
    height: 95vh;
}

.nav_bar_container {
    display: flex;
    padding: 20px;
    justify-content: space-between;

}

.logo_link {
    width: 100px;
    display: flex;
}

.logo_link:active,
.logo_link,
.logo_link:visited {
    text-decoration: none;
}

.logo {
    width: 100%;
    display: block;
}

.logo_title {
    margin: auto 3px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.nav_widgets_container {
    margin: auto 0px;
    width: 200px;
}

.nav_widgets {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.nav_widget {
    display: block;
    padding: 3px;
    padding-left: 0px;
}

.nav_link {
    color: #fff;
    font-size: inherit;
    font-weight: 700;
}

.nav_link,
.nav_link:active,
.nav_link:visited {
    text-decoration: none;

}

.header_sub_container {
    margin: 100px 0px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.heading_block {
    width: 45%;
    padding: 50px;
    text-align: center;
}

.heading_1 {
    font-size: 75px;
    letter-spacing: 3.8px;
    color: #fff;
    animation: moveLeftRight 2s ease-out;
}

.heading_2 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #fff;
    animation: moveRightLeft 2s ease-out;
}

.heading_gallery_block {
    width: 45%;
    position: relative;
}

.gallery_img {
    width: 50%;
    position: absolute;
    transition: all 0.4s;
}

.gallery_img_1 {
    top: -40px;

}

.gallery_img_2 {
    top: 150px;
    left: 60px;
}

.gallery_img_3 {
    right: 130px;

}

.gallery_img:hover {
    transform: scale(1.1) translateY(-3px);
    z-index: 100;
    outline: 5px solid #fff;
    padding: 15px

}

.heading_gallery_block:hover .gallery_img:not(:hover) {
    transform: scale(0.95);
    z-index: 10;
}

@keyframes moveLeftRight {

    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveRightLeft {

    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
    }
}