{% extends 'MyBlogApp/base.html' %}

{% block body %}

<div class="main_view_blog_container">

    <div class="blog_view_main_box">

        <div class="blog_view_cover_image">
            <img src="{{blog.coverImage.url}}" class="blog_view_cover_image">
        </div>

        <div class="blog_view_data">
            <div class="blog_view_title">
                <h2 class="title title_mod"> {{blog.title}} </h2>
            </div>

            <div class="blog_view_meta_data">
                <div class="blog_view_autor_box">
                    <p class="blog_author"> {{blog.author}} </p>
                </div>

                <div class="blog_view_date_box">
                    <p class="blog_date"> | {{blog.createdOn}} </p>
                </div>
            </div>

            <div class="blog_view_content_box">
                <p class="blog_view_content">
                    {{blog.content}}
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}