:root {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: inherit;
    padding: 30px;
    color: #fff;
}

html {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.header_container {
    height: 85vh;
    background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary));
    background-size: cover;
    background-position: top;
    padding: 20px;
}

.header_navbar {
    width: 95%;
    margin: 5px auto 0px;
    display: flex;
    justify-content: space-between;
}

.navbar_logobox {
    padding: 3px;
    display: flex;
    /* justify-content: space-between; */
}

.index_link,
.index_link:active,
.index_link:visited {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: auto 0px;
}

.logo_container {
    width: 20%;
}

.logo {
    width: 100%;
}

.navbar_widget {
    width: 12%;
    display: flex;
    justify-content: space-between;
}

.widget_link,
.widget_link:active,
.widget_link:visited {
    display: block;
    margin: auto 0px;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.header_main_box {
    width: 70%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

.title_box {
    width: 30%;
    text-align: center;
    margin: auto 0px;

}

.title_main {
    display: block;
    letter-spacing: 6px;
    font-size: 80px;
    margin: auto 0px;
    line-height: 90px;
    animation: moveTopBottom 4s ease-out;
}

.title_sub {
    display: block;
    letter-spacing: 2px;
    font-size: 40px;
    margin: auto 0px;
    animation: moveBottomTop 4s ease-out;
}

.main_image_box {
    width: 50%;
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    animation: moveRightLeft 4s ease-out;

}

.main_image {
    width: 100%;
    transition: all 0.3s
}

.main_image_box:hover .main_image {
    transform: scale(0.9);
}

@keyframes moveTopBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-5px);

    }


    100% {
        opacity: 1;
    }
}

@keyframes moveBottomTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(5px);

    }


    100% {
        opacity: 1;
    }
}

@keyframes moveRightLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    50% {
        transform: translateX(-5px);

    }


    100% {
        opacity: 1;
    }
}